@tailwind base;
@tailwind components;
@tailwind utilities;


.max-lines-3 {
  max-height: calc(1.5em * 3); 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.multi-line-cell {
  min-height: calc(1.5em * 3); 
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.react-modal {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: scale(0.8);
}

.react-modal.open-modal {
  opacity: 1;
  transform: scale(1);
}
